---
---

// Headers
$header-heading-color: #000000
$header-bg-color: #fdfae9;
$header-bg-color-secondary: #eed9ce;

@import 'jekyll-theme-cayman';

.mi-page-header {
  color: $header-heading-color;
  text-align: center;
  background: url({{ "assets/images/MI_network.png" | relative_url }}) no-repeat left, linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
  background-size: 100%;

  @include large {
    padding: 2rem 6rem;
  }
  
  @include medium {
    padding: 2rem 4rem;
  }
  
  @include small {
    padding: 2rem 1rem;
  }
}

.mi-menus {
  padding: 10px 10px;
  font-size: 20px;
  line-height:24px
}

.mi-menus a {
  color: #637dc1;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.mi-member-box {
  display: flex;
  justify-content: relative;
  padding: 5%
}

.mi-member-list {
  border-top: solid 1px #000;
  border-right: solid 1px #000;
  border-left:solid 1px #000
}

.mi-member-list-cols {
  padding: 30px 50px 30px 20px;
  border-bottom: solid 1px #000;
  position:relative
}

.mi-member-list-box {
  display: flex;
  gap: 20px;
  position: relative;
}

.mi-member-list-img {
  width: 130px
}

.mi-member-list-img img {
  width: 100%;
  max-width: 100%;
  height: auto
}

.mi-member-text {
  flex: 1;
  text-align: left
}

.mi-keywords {
  padding: 8px 10px;
  background-color: #FFFDDE;
  font-size: 12px;
  line-height:16px
}

.mi-keywords-list {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap:5px
}
